chardet<4.0
h5py
kornia>=0.5
matplotlib
numpy
omegaconf>=2
opencv-python-headless
opencv-transforms
pandas<1.4
PySide2==5.13.2
pytest
scikit-learn<1.1
scipy<1.8
tqdm
vidio
pytorch_lightning==1.6.5
ruff>=0.1.0
pre-commit>=2.20.0,<3.0.0
setuptools
gdown
